[Unit]
Description=arUco Track in Virtual Environment
After=network.target

[Service]
ExecStart=/bin/bash -c 'source /home/pi/envCARTT/bin/activate && python arucoTrackWeb.py'
Restart=always
User=pi
WorkingDirectory=/path/to

[Install]
WantedBy=multi-user.target